/logs/*
/save/*
/save/bans
/config/GetAccess.cfg
*/save/*
/extensions/Release/
/extensions/extensions.opensdf
/extensions/extensions.sdf
/extensions/*/Release/
/extensions/*/*.vcxproj.user
/extensions/ipch/*
