# 
# Correct ServerPath and rename to Mapper.cfg 
# 
 
# Window name 
WindowName = Mapper for FOnline: New Dawn
 
# Path to server folder 
ServerPath = .\data\ 
 
# Server executable and config name 
ServerName = FOnlineServer 
 
# Path to client folder 
ClientPath = ..\ 
 
# Client executable and config name 
ClientName = FOnline 
 
# Mapper interface options 
MapperInterface=mapper_default.ini 
 
RecentMap1 = 
RecentMap2 = 
RecentMap3 = 
RecentMap4 = 
RecentMap5 = 
RecentMap6 = 
RecentMap7 = 
RecentMap8 = 
